{% extends 'clients/layout.html' %}

{% block title %}Payment{% endblock title %}

{% block navigation %}
<li><a  href="{% url 'clients:index' %}">About the application</a></li>
<li><a class="active" href="{% url 'clients:list-all-clients' %}">Clients</a></li>
{% endblock navigation %}

{% block section %}
<h1>QIWI payment</h1><hr>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="custom-btn" type="submit" value="Pay">
    </form>

{% endblock section %}